@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Emilys+Candy|Handlee|Sofia');
/********** google fonts **********/
/* font-family: 'Emilys Candy', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Handlee', cursive;
font-family: 'Sofia', cursive; */

/********** color palette **********/
/* color1: rgba(245, 227, 224, 1); #F5E3E0, cream
color2: rgba(232, 180, 188, 1); #E8B4BC, light pink
color3: rgba(210, 130, 166, 1); #D282A6, pink
color4: rgba(110, 69, 85, 1); #6E4555, dark pink
color5: rgba(58, 50, 56, 1); #3A3238, really dark pink */

/********** global **********/
html, body {
  height: 100%;
}

header, .projects, .journals, .about {
  min-height: 800px;
  margin-top: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

header h1, .journals ul, .about p {
  max-width: 800px;
  margin: 0 50px;
}

h1, h2, h3, h5 {
  text-align: center;
  font-family: 'Emilys Candy', cursive;
  color: #6E4555;
}

h3::before {
  content: "❤︎ "
}

h3::after {
  content: " ❤︎"
}

p {
  font-size: 1.1em;
  text-align: justify;
  line-height: 2em;
  font-family: 'Handlee', cursive;
  color: #6E4555;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  color: #F5E3E0;
}

img {
  width: 332px;
  height: 210px;
  border: 2px double #E8B4BC;
}

/********** nav **********/
nav {
  font-family: 'Emilys Candy', cursive;
  background-color: #D282A6;

  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

nav > ul > li > a:hover {
  color: #6E4555;
}

nav .sub-nav ul {
  background-color: #D282A6;

  min-width: 200px;
  padding: 10px 5px;
  display: none;
}

nav .sub-nav:hover ul {
  display: block;
}

nav .sub-nav ul a {
  text-decoration: underline;
  font-size: 1em;
  font-weight: normal;
}

nav .sub-nav ul a:hover {
  color: #6E4555;
}

/********** header **********/
header {
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
  padding-top: 100px;
}

header h1, header h2 {
  font-family: 'Dancing Script', cursive;
  color: #D282A6;
}

header h1 {
  font-size: 2.7em;
  margin-top: 60px;
}

header h2 {
  font-size: 2.5em;
  margin-bottom: 60px;
}

header a {
  font-size: 2em;
  font-family: 'Emilys Candy', cursive;
  color: #6E4555;

  margin: 15px;
}

header a:hover {
  color: #D282A6;
}

header a::before {
  content: "❀ "
}

header a::after {
  content: " ❀"
}

/********** portfolio **********/
.projects ul {
  min-height: 650px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  align-items: flex-start;
}

.projects li {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.projects h2 {
  margin: 10px;
}

.projects p {
  width: 300px;
  margin-top: 0;
  margin-bottom: 0;
}

.projects p::before {
  content: "✒︎"
}

.link {
  text-decoration: underline;
  font-family: 'Handlee', cursive;
  font-size: 1em;
  line-height: 2em;
  color: #6E4555;
}

/********** journals **********/
.journals ul {
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.journals li {
  border-bottom: 2px dotted #6E4555;
}

.journals li:last-child {
  border: none;
}

.journals h2 > a {
  text-align: center;
  font-family: 'Emilys Candy', cursive;
  font-size: 1em;
  color: #6E4555;
}

.journals h2 > a:hover {
  color: #D282A6;
}

/********** about **********/
.about img {
  height: 300px;
  width: 300px;
  margin-top: 30px;
}

.about h2 {
  margin-bottom: 0;
}

.about p::before {
  content: "➤";
}

.about #date {
  text-align: right;
}

.about #date::before {
  content: "-- "
}

.about #date::after {
  content: " --"
}

/********** footer **********/
footer {
  color: #3A3238;
  text-align: center;
}

/********** small screen **********/
@media screen and (max-width: 600px) {
  nav {
    height: 200px;
  }

  nav ul {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  nav li {
    height: 20%;
  }

  nav .sub-nav:hover ul {
    display: none;
  }

  nav a::before {
    content: "❀ "
  }

  nav a::after {
    content: " ❀"
  }

  header h1 {
    padding-top: 200px;
  }

  header a {
    display: none;
  }

  .projects, .journals, .about {
    margin-top: 200px;
  }
}
