@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Emilys+Candy|Handlee|Sofia');
/* font-family: 'Emilys Candy', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Handlee', cursive;
font-family: 'Sofia', cursive; */

/********** color palette **********/
/* color1: rgba(245, 227, 224, 1); #F5E3E0, cream
color2: rgba(232, 180, 188, 1); #E8B4BC, light pink
color3: rgba(210, 130, 166, 1); #D282A6, pink
color4: rgba(110, 69, 85, 1); #6E4555, dark pink
color5: rgba(58, 50, 56, 1); #3A3238, really dark pink */

/********** global **********/
html, body {
  /* font-family: Arial, Helvetica, sans-serif; */

  height: 100%;
}

h1, h2, h3, h5 {
  font-family: 'Emilys Candy', cursive;
  color: #6E4555;
  text-align: center;
}

p {
  font-family: 'Handlee', cursive;
  text-align: justify;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

a {
  font-size: 1.4em;
  font-weight: bold;
  color: #F5E3E0;
  text-decoration: none;
}

/********** nav **********/
nav {
  font-family: 'Emilys Candy', cursive;
  background-color: #D282A6;

  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 2;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

/********** header **********/
header {
  background-color: #F5E3E0;

  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-family: 'Dancing Script', cursive;
  margin: 50px;
}

header a {
  font-family: 'Emilys Candy', cursive;
  color: #D282A6;

  margin: 10px;
  padding: 10px;
  border: 4px dotted #3A3238;
  border-radius: 25px;
}

/********** portfolio **********/
.projects {
  min-height: 800px;

  margin-top: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.projects ul {
  min-height: 650px;
  width: 90%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
}

.projects li {
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.projects h2 {
  margin: 10px;
}

.projects img {
  width: 300px;
  height: 300px;
  border: 2px solid;
}

.projects p {
  width: 300px;
  padding-bottom: 30px;
  text-align: justify;
}

/********** blogs **********/
.blogs {
  min-height: 800px;

  margin-top: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
}

.blogs ul {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 50px;
}

.blogs li {
  border-bottom: 2px dotted #6E4555;
}

/********** about **********/
.about {
  height: 100%;
  margin-top: 60px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about img {
  width: 300px;
  border: 2px black solid;
  margin: 50px 0 0 0;
}

.about h2 {
  margin-bottom: 0;
}

.about p {
  max-width: 800px;
  margin: 0 50px;
}

/********** footer **********/
footer {
  color: #3A3238;
  text-align: center;
}

/********** small screen **********/
@media screen and (max-width: 600px) {
  nav {
    height: 200px;
  }

  nav ul {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  nav li {
    height: 20%;
  }

  header a {
    display: none;
  }

  .projects {
    margin-top: 200px;
  }

  .blogs {
    margin-top: 200px;
  }

  .about {
    margin-top: 200px;
  }
}
